@charset "utf-8";
main .list{
	border-radius: 5px;
	border: solid #b8860b 1px ;
	margin: 20px 0 20px 0;
}
h3{
	background: #b8860b;
	color: #ffffff;
	border-radius: 3px 3px 0 0;
	padding: 5px 0 5px 12px;
}
main .list dl{
	padding: 10px 5px 10px 5px;
}
main .list dt{
	font-weight: bold;
	padding: 3px 0 3px 12px;
}
main .list dd{
	padding: 3px 24px 3px 24px;
}
main .list dd ul li{
	list-style: disc;
	margin-left: 12px;
}
main .list dd span{
	font-size: x-small;
}
main a{
	display: inline-block;
	background: #ff0000;
	color: #fff;
	border-radius: 5px;
	padding: 5px 5px;
}
main .btn{
	text-align: right;
}
